<p mat-dialog-title>{{action}} student</p>
<div mat-dialog-content>
    <mat-form-field *ngIf="action != 'Delete'">
        <input placeholder="{{action}} Name" matInput [(ngModel)]="dialogData.name">
    </mat-form-field>
    <mat-form-field *ngIf="action != 'Delete'">
        <input placeholder="{{action}} Surname" matInput [(ngModel)]="dialogData.surname">
    </mat-form-field>
    
    <div *ngIf="action === 'Delete'">
        <p> {{dialogData.name}} {{dialogData.surname}} ?</p>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-button *ngIf="action != 'Modify'"(click)="submit()">{{action}}</button>
    <button mat-button *ngIf="action === 'Modify'" (click)="submit()">Save changes</button>
    <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
</div>