.classroom {
    width: 100%;
}
.table-data {
    height: 50px;
}
.main-header {
    padding: 10px;
    text-align: center;
    background-color: #ecf0f1;
    color: #2c3e50;
    label {
        &:not(:first-child) {
            padding-left: 10px;
        }
    }
    input {
        width: 150px;
        height: 25px;
        font-size: 16px;
        &.number-inputs {
            width: 50px;
        }
    }
    .create-button {
        background-color: #16a085;
        color: #fff;
        height: 30px;
        box-shadow: none;
        border: none;
        font-size: 16px;
        margin: 0 10px;
    }
}
