<div class="main-header">
    <label for="row">Main input: </label>
    <input type="text" [(ngModel)]="number" (keyup)="onChange($event)" (blur)="onBlur($event)" />

    <label for="row">Class rows: </label>
    <input class="number-inputs" type="number" id="row" [(ngModel)]="row" />

    <label for="column">Class columns: </label>
    <input class="number-inputs" type="number" id="column" [(ngModel)]="column" />

    <button type="button" class="create-button" (click)="doClassroom()">Create new classroom</button>
</div>

<table class="classroom">
    <ng-container *ngFor="let row of classRow; let rowIndex=index">
        <class-row [classColumn]="classColumn" [classRow]="classRow" [rowIndex]="rowIndex + 1"
            [selectedRow]="classRowToVerify" (onRowSelected)="rowSelected($event)">
        </class-row>
    </ng-container>
</table>